# General File Types
__init__.py
__pycache__*
*.pyc
.ipynb_checkpoints
.venv

# Directories
logs/
data/
secrets/
.venv/
universes/
tests/
data_backup/
node_modules/
interface/cache/

# Files
status.json
