<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gills Quant - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_styles.css') }}">
</head>
<body>
    {% include('_header.html') %}
    <div class="base-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>